.container
{
width:auto;
height:auto;
margin:auto;
overflow:hidden;	
}
.header
{
height:170px;
background-color:skyblue;	
}
.navbar
{
height:60px;
background-color:f1f1f1;
}
.navbar a
{
display: inline-block;
padding:15px ;
float: right;
font-size: 23px;
text-decoration: none;
}
.navbar a:hover
{
	color:red;
}
.Main Context
{
height:600px;	

}
.Main
{

width:1300px;
height:800px;
float:right;
overflow: auto;
}


.blink 
{
      color: #1c87c9;
      font-size: 20px;
      font-weight: bold;
      font-family: sans-serif;
 }
.Sidebar
{
width:400px;
height:600px;
float:left;
background-color: lightblue;
}
.sidebar a
{
padding:15px  60px;
text-decoration: none;
font-size: 25px;
color:white;
display: block;
}
.sidebar a:hover
{
	color:grey;
}
.footer
{
height:60px;
background-color:f1f1f1;	
}
